extends layout 

block content 
  div.item 
            h1 
                a(href="/")= title 
  section.section data-scroll-spy
    h2 Validaciones de Formulario
     form.contact-form
      legend Envíanos tus comentarios
      input(type="text" name="name" placeholder="Escribe tu nombre" title="Nombre sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required)
      input(type="email" name="email" placeholder="Escribe tu email" title="Email incorrecto" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required)
      input(type="text" name="subject" placeholder="Asunto a tratar" title="El Asunto es requerido" required)
      textarea(name="comments" rows="5" placeholder="Escribe tus comentarios" title="Tu comentario no debe exceder los 255 caracteres" data-pattern="^.{1,255}$" required)
      input(type="submit" value="Enviar")
      div.contact-form-loader
        img(src="assets/loader.svg" alt="Cargando")
      div.contact-form-response
        p Los datos han sido enviados
        