extends layout 

block content
    secttion.container 
        div.item.logo
        div.item 
            h1 
                a(href="/")= title
                    form(method="GET" action="/registrar")
                        input(type="submit", value="Login")