extends layout 

block content
    secttion.container 
        div.item.logo
        div.item 
            h1  
                a(href="/")= title
                    div.container.p1        
                        form.form(method="GET" action="/registrar")
                            input(type="submit", value="Login")
                    div.container.p1        
                        form.form(method="GET" action="/iniciarsesion")
                            input(type="submit", value="iniciarsesion")
                                    