extends layout 

block content
    secttion.cntainer
        div
            h1.h1
                a(href="/")= title
        div
            form(method="POST" action="/entrar")
                fieldset
                    div.content
                        label(for="user_email") Email: 
                        input.INPUT(type="text" name="user_email" required)                    
                        label(for="user_password") Password: 
                        input.INPUT(type="password" name="user_password" required)
                    div
                        input.btn-g(type="submit" value="Init")
    footer 
        div.divdelparrafo
            h4.pdeldiv Mediod de pagos 
                div.divdelaimagen
                    img.imgdelfooter(src="./img/mercadopagp.jpeg" alt="Mercado pago")
                    img.imgdelfooter(src="./img/cash_40532.png" alt="")
                    img.imgdelfooter(src="./img/handshake-done-deal-free-vector.jpg" alt="")
        div.divdelparrafo
            h4.pdeldiv Medios de envio
                div.divdelaimagen    
                    img.imgdelfooter(src="./img/correo-argentino.png" alt="")        
                    img.imgdelfooter(src="./img/personalizado.png" alt="")        
                    img.imgdelfooter(src="./img/retiro-local.png" alt="")   
                    img.imgdelfooter(src="./img/handshake-done-deal-free-vector.jpg" alt="")     

        div.divdelparrafo 
            h4.pdeldiv Nuestras redes sociales
                p.text-p blancarossi@blancarossi.com
        div.divdelparrafo 
            h4.pdeldiv Contacto 
                p.text-p blancarossi.store@gmail.com
                p.text-p 2236953368
                p.text-p Alberti 2018. loc 24
                p.text-p Botón de arrepentimiento                         